*,
*:after,
* {
  box-sizing: border-box;
}

body {
  background-color: #393939;
  color: #ffffff;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    'header header header header header header header header header header'
    /* 'header header header header header header header header header header' */
    '. . . . . . . . . .'
    '. step step . activity activity activity activity activity .'
    '. step step . activity activity activity activity activity .'
    '. step step . activity activity activity activity activity .'
    '. . . . . . . . . .'
    '. water . sleep . week week week week .'
    '. water . sleep . week week week week .'
    '. water . sleep . week week week week .'
    '. . . . . . . . . .';
    margin: 0;
    height: 100vh;
}

#header {
  align-items: center;
  border-bottom: 1px solid white;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  text-align: center;
}

#header h1 {
  font-size: 40px;
  font-weight: 700;
}

#header h2 {
  font-size: 30px;
  font-weight: 400;
}

#header span {
  font-weight: 700;
}

#step {
  color: green;
  border: 1px solid green;
  grid-area: step;
}

#water {
  color: skyblue;
  border: 1px solid skyblue;
  grid-area: water;
}

#active {
  color: lawngreen;
  grid-area: activity;
  display: flex;
}

.div__step,
.div__minActiv,
.div__stairs,
.div__miles {
  border: 1px solid lawngreen;
}

#sleep {
  color: rgb(128, 0, 255);
  border: 1px solid rgb(128, 0, 255);
  grid-area: sleep;
}

#week {
  color: tomato;
  display: flex;
  grid-area: week;
  align-content: center;
}

.div__7days {
  border: 1px solid tomato;
}

#week li {
  list-style: none;
  /* float: left; */
  margin: 0 5px 0 8px;
}

div {
  text-align: center;
}

.div__h3 {
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.div__p {
  font-size: 30px;
  font-weight: 700;
  height: 40px;
  margin: 5px 0;
}

.div__week {
  font-size: 24px;
  font-weight: 700;
  padding: 1px;
  margin-top: 50px;
}

.week__p {
  color: white;
  font-size: 18px;
  font-weight: 300;
  position: absolute;
  margin: 10px 0 0 225px;
}

.div__step,
.div__sleep,
.div__minActiv,
.div__stairs {
  padding-top: 20px;
}

.div__water,
.div__miles {
  padding-top: 50px
}

/* h3 {
  font-weight: lighter;
} */